@charset "utf-8";

*{ margin:0; padding:0; }

div{ padding:60px 40px; width:800px; }
div dl dt{ background:skyblue; padding:8px 12px; cursor: pointer; margin-bottom:4px; }
div dl dt:hover{ background:lightgray; } 